#header{
  background-color: #E89797;
  color: white;
  padding: 30px;
  text-align: center;
}

#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  border-radius: 50%
}

body {
  background-color: lightblue;
}

main{
  margin-left: 20px;
  margin-right: 20px;
}

h1{
  text-align: center;
  font-family: Lucida Handwriting;
  font-weight: lighter;
}

h2{
  text-align: center;
  font-family: Copperplate;
  font-weight: lighter;
  
}

h3{
  text-align: center;
  font-family: Copperplate;
  font-weight: lighter;
  
}
p{
text-align: center;
  font-family: Copperplate;
  font-weight: lighter;
  
}

.navbar ul{
  list-style-type: none;
  background-color: #E89797;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover{
  background-color: #E0A8A8;
}

.navbar li{
  float: left;
}
section {
  margin-bottom: 2rem;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

figure {
    width: 120px;
    text-align: center;
}

figure img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    border: 2px solid #434040;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

figure img:hover {
    transform: scale(1.1);
    border-color: rgb(88, 90, 92);
}

figcaption {
    margin-top: 8px;
    font-size: 0.9em;
    color: #2a2929;
}
